.DS_Store
public/uploads/posts/*.jpeg
public/uploads/posts/*.jpg
public/covers/*.*

# Dev stuff 
vendor/
style.css.map
toDolist.md
adminer.php
phpinfo.php
/config/config.php
composer.lock
config/config.php
public/lib/css/bootstrap/
public/lib/css/plyr/
public/lib/js/bootstrap
public/lib/js/plyr