.DS_Store
public/uploads/posts/*.jpeg
public/uploads/posts/*.jpg
public/covers/*.*
public/lib/

# Dev stuff 
vendor/
style.css.map
toDolist.md
adminer.php
phpinfo.php
/config/config.php
composer.lock
config/config.php
