@font-face {
  font-family: Karla;
  src: url(http://rewind.radio/lib/fonts/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: Karla-italic;
  src: url(http:/rewind.radio/lib/fonts/Karla-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lora;
  src: url(http://rewind.radio/lib/fonts/Lora-VariableFont_wght.ttf);
}

@font-face {
  font-family: Lora-italic;
  src: url(http:/rewind.radio/lib/fonts/Lora-Italic-VariableFont_wght.ttf);
}
